In [2]:
import pandas as pd
import numpy as np

In [3]:
# reading documents csv files
df = pd.read_csv('./CSV/CollectorList.csv')
display(df)

mentalIlness = pd.read_csv('./CSV/Mental Illness Survey 1.csv')
display(mentalIlness)

   CollectorID                Title            Date Created
0    168522804  Targeted Audience 1  01/14/2018 04:11:00 AM

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,I identify as having a mental illness,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Age,Gender,Household Income,Region,Device Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Response,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Response,Response,Response,Response,Response
1,6.630447e+09,168522804.0,01/15/2018 03:45:16 AM,01/15/2018 03:48:24 AM,NaN,NaN,NaN,NaN,06f645d7ea5af372d50a62bd17,No,...,Obsessive thinking,NaN,Panic attacks,NaN,NaN,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
2,6.630410e+09,168522804.0,01/15/2018 03:17:52 AM,01/15/2018 03:18:57 AM,NaN,NaN,NaN,NaN,abca2776418ff1fe24bb85e21f,Yes,...,NaN,NaN,Panic attacks,NaN,Tiredness,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
3,6.630402e+09,168522804.0,01/15/2018 03:10:28 AM,01/15/2018 03:12:49 AM,NaN,NaN,NaN,NaN,3800088cf4e55278b38bbe67f3,No,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
4,6.630335e+09,168522804.0,01/15/2018 02:11:16 AM,01/15/2018 02:12:33 AM,NaN,NaN,NaN,NaN,84585803a3cec189f89fe43d44,No,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,6.629053e+09,168522804.0,01/14/2018 03:34:38 AM,01/14/2018 03:36:44 AM,NaN,NaN,NaN,NaN,87711d94384b2bfbcd7cdbe52a,No,...,NaN,NaN,NaN,NaN,Tiredness,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
331,6.629052e+09,168522804.0,01/14/2018 03:34:38 AM,01/14/2018 03:36:09 AM,NaN,NaN,NaN,NaN,9e9969a3f4eb0950af94407466,No,...,NaN,NaN,NaN,NaN,NaN,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
332,6.629051e+09,168522804.0,01/14/2018 03:27:20 AM,01/14/2018 03:33:01 AM,NaN,NaN,NaN,NaN,558859a6e130ae0f1817fc0ac7,No,...,NaN,NaN,NaN,NaN,NaN,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
333,6.629051e+09,168522804.0,01/14/2018 03:29:31 AM,01/14/2018 03:32:45 AM,NaN,NaN,NaN,NaN,34d6b882e9f4ca7712b0b44541,Yes,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
334,6.629048e+09,168522804.0,01/14/2018 03:24:06 AM,01/14/2018 03:25:10 AM,NaN,NaN,NaN,NaN,92ae8b49df33505589295166f6,Yes,...,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

In [4]:
# Cleaning data

mentalIlness = mentalIlness.drop(['IP Address', 'Email Address', 'First Name', 'Last Name'], axis=1) # drop that coluns in Nan

mentalIlness = mentalIlness.rename(columns=df.iloc[0]).loc[1:] # iniciando o df no indice 1

display(mentalIlness)

,Respondent ID,Collector ID,Start Date,End Date,Custom Data 1,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Age,Gender,Household Income,Region,Device Type
1,6.630447e+09,168522804.0,01/15/2018 03:45:16 AM,01/15/2018 03:48:24 AM,06f645d7ea5af372d50a62bd17,No,High School or GED,No,No,0,...,Obsessive thinking,NaN,Panic attacks,NaN,NaN,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
2,6.630410e+09,168522804.0,01/15/2018 03:17:52 AM,01/15/2018 03:18:57 AM,abca2776418ff1fe24bb85e21f,Yes,Some Phd,Yes,No,0,...,NaN,NaN,Panic attacks,NaN,Tiredness,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
3,6.630402e+09,168522804.0,01/15/2018 03:10:28 AM,01/15/2018 03:12:49 AM,3800088cf4e55278b38bbe67f3,No,Completed Undergraduate,Yes,No,0,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
4,6.630335e+09,168522804.0,01/15/2018 02:11:16 AM,01/15/2018 02:12:33 AM,84585803a3cec189f89fe43d44,No,Some Undergraduate,Yes,No,NaN,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
5,6.630290e+09,168522804.0,01/15/2018 01:24:12 AM,01/15/2018 01:26:34 AM,4b4faaaa7eaff01549233044bd,Yes,Completed Undergraduate,Yes,Yes,35,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,6.629053e+09,168522804.0,01/14/2018 03:34:38 AM,01/14/2018 03:36:44 AM,87711d94384b2bfbcd7cdbe52a,No,High School or GED,Yes,No,NaN,...,NaN,NaN,NaN,NaN,Tiredness,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
331,6.629052e+09,168522804.0,01/14/2018 03:34:38 AM,01/14/2018 03:36:09 AM,9e9969a3f4eb0950af94407466,No,Some Undergraduate,Yes,No,0,...,NaN,NaN,NaN,NaN,NaN,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
332,6.629051e+09,168522804.0,01/14/2018 03:27:20 AM,01/14/2018 03:33:01 AM,558859a6e130ae0f1817fc0ac7,No,Some Undergraduate,Yes,No,0,...,NaN,NaN,NaN,NaN,NaN,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
333,6.629051e+09,168522804.0,01/14/2018 03:29:31 AM,01/14/2018 03:32:45 AM,34d6b882e9f4ca7712b0b44541,Yes,Some Undergraduate,No,Yes,1,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
334,6.629048e+09,168522804.0,01/14/2018 03:24:06 AM,01/14/2018 03:25:10 AM,92ae8b49df33505589295166f6,Yes,Some Undergraduate,Yes,No,0,...,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

In [5]:
mentalIlness.info

<bound method DataFrame.info of      Respondent ID  Collector ID              Start Date  \
1     6.630447e+09   168522804.0  01/15/2018 03:45:16 AM
2     6.630410e+09   168522804.0  01/15/2018 03:17:52 AM
3     6.630402e+09   168522804.0  01/15/2018 03:10:28 AM
4     6.630335e+09   168522804.0  01/15/2018 02:11:16 AM
5     6.630290e+09   168522804.0  01/15/2018 01:24:12 AM
..             ...           ...                     ...
330   6.629053e+09   168522804.0  01/14/2018 03:34:38 AM
331   6.629052e+09   168522804.0  01/14/2018 03:34:38 AM
332   6.629051e+09   168522804.0  01/14/2018 03:27:20 AM
333   6.629051e+09   168522804.0  01/14/2018 03:29:31 AM
334   6.629048e+09   168522804.0  01/14/2018 03:24:06 AM

                   End Date               Custom Data 1  \
1    01/15/2018 03:48:24 AM  06f645d7ea5af372d50a62bd17
2    01/15/2018 03:18:57 AM  abca2776418ff1fe24bb85e21f
3    01/15/2018 03:12:49 AM  3800088cf4e55278b38bbe67f3
4    01/15/2018 02:12:33 AM  84585803a3cec189f89fe43d44
5    01/15/2018 01:26:34 AM  4b4faaaa7eaff01549233044bd
..                      ...                         ...
330  01/14/2018 03:36:44 AM  87711d94384b2bfbcd7cdbe52a
331  01/14/2018 03:36:09 AM  9e9969a3f4eb0950af94407466
332  01/14/2018 03:33:01 AM  558859a6e130ae0f1817fc0ac7
333  01/14/2018 03:32:45 AM  34d6b882e9f4ca7712b0b44541
334  01/14/2018 03:25:10 AM  92ae8b49df33505589295166f6

    I identify as having a mental illness                Education  \
1                                      No       High School or GED
2                                     Yes                 Some Phd
3                                      No  Completed Undergraduate
4                                      No       Some Undergraduate
5                                     Yes  Completed Undergraduate
..                                    ...                      ...
330                                    No       High School or GED
331                                    No       Some Undergraduate
332                                    No       Some Undergraduate
333                                   Yes       Some Undergraduate
334                                   Yes       Some Undergraduate

    I have my own computer separate from a smart phone  \
1                                                   No
2                                                  Yes
3                                                  Yes
4                                                  Yes
5                                                  Yes
..                                                 ...
330                                                Yes
331                                                Yes
332                                                Yes
333                                                 No
334                                                Yes

    I have been hospitalized before for my mental illness  \
1                                                   No
2                                                   No
3                                                   No
4                                                   No
5                                                  Yes
..                                                 ...
330                                                 No
331                                                 No
332                                                 No
333                                                Yes
334                                                 No

    How many days were you hospitalized for your mental illness  ...  \
1                                                    0           ...
2                                                    0           ...
3                                                    0           ...
4                                                  NaN           ...
5                                                   35           ...
..                                                 ...           ...
330                                                NaN           ...
331                                                  0           ...
332                                                  0           ...
333                                                  1           ...
334                                                  0           ...

            Unnamed: 30  Unnamed: 31    Unnamed: 32          Unnamed: 33  \
1    Obsessive thinking          NaN  Panic attacks                  NaN
2                   NaN          NaN  Panic attacks                  NaN
3                   NaN          NaN            NaN                  NaN
4                   NaN          NaN            NaN                  NaN
5    Obsessive thinking  Mood swings  Panic attacks  Compulsive behavior
..                  ...          ...            ...                  ...
330                 NaN          NaN            NaN                  NaN
331                 NaN          NaN            NaN                  NaN
332                 NaN          NaN            NaN                  NaN
333  Obsessive thinking  Mood swings  Panic attacks  Compulsive behavior
334                 NaN          NaN            NaN                  NaN

    Unnamed: 34    Age  Gender      Household Income              Region  \
1           NaN  30-44    Male       $25,000-$49,999            Mountain
2     Tiredness  18-29    Male       $50,000-$74,999  East South Central
3           NaN  30-44    Male     $150,000-$174,999             Pacific
4           NaN  30-44    Male       $25,000-$49,999         New England
5     Tiredness  30-44    Male       $25,000-$49,999  East North Central
..          ...    ...     ...                   ...                 ...
330   Tiredness  45-60  Female  Prefer not to answer            Mountain
331         NaN  18-29    Male       $50,000-$74,999             Pacific
332         NaN   > 60  Female       $10,000-$24,999  West North Central
333   Tiredness  18-29  Female             $0-$9,999  West South Central
334         NaN  18-29  Female       $10,000-$24,999             Pacific

                  Device Type
1      Android Phone / Tablet
2      MacOS Desktop / Laptop
3      MacOS Desktop / Laptop
4    Windows Desktop / Laptop
5          iOS Phone / Tablet
..                        ...
330    Android Phone / Tablet
331  Windows Desktop / Laptop
332  Windows Desktop / Laptop
333    Android Phone / Tablet
334    Android Phone / Tablet

[334 rows x 36 columns]>

In [3]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

ModuleNotFoundError: No module named 'matplotlib'